@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

:root {
  --maincolor: #05ac7a;
  --maincolorFaded:  #b0eedb;

  --errorBgColor: #ffeeee;
  --errorColor: #df0000;

  --successBgColor: #efffef;
  --successColorMedium: #c4f7c4;
  --successColor: #0c8f0c;

  --infoBgColor: #ebf8ff;
  --infoColor: #003d89;
  
}

body {
  background-color: #f9f9f9;
  min-height: 100vh;
}

body, button, input, textarea, select, option {
  font-family: 'Quicksand', sans-serif;
}

table, button, a, input {
  width: fit-content;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
}

input, select {
  padding: 6px;
  border-radius: 4px;
  border-width: 1px;
  font-size: 1rem;
  font-weight: 400;
}

button {
  font-family: 'Quicksand', sans-serif;
  border: 2px solid var(--maincolor);
  border-radius: 4px;
  padding: 0.35rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  background: none;
  transition: all 100ms;
}
button:hover:not(:disabled) {
  cursor: pointer;
  background-color: var(--maincolor);
  color: white;
}
button:disabled {
  border-color: #bbb;
}

a {
  color: var(--maincolor);
}

th, td {
  padding: 0.5rem 0.5rem;
}
th {
  font-weight: 600;
  text-align: left;
}
tr {
  transition: box-shadow 80ms linear;
}
tbody>tr:hover {
  background-color: #f0f0f0;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

h1 {
  font-size: 2.25rem;
  margin-top: 1rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}